/* Bài 1 */
h1 {
    color: red;
}
.highlight {
    color: green;
}
#special {
    text-decoration: underline;
}

ul {
    border: 2px solid ;
}
.box {
    background-color: yellow;
}
/* Bài 2 */
a:hover {
    color: orange;
}
button:active {
    background-color: green;
}
ul > li:first-child {
    color: blue;
}
ol > li:last-child {
    color: red;
}
li:nth-child(odd) {
    background-color: grey;
}
/* Bài 3 */
h2::before {
    content: "👉";
}
li::after {
    content: "✔";
}
p::first-letter {
    font-size: 30px;
    color: red;
}
p::first-line {
    background-color: yellow;
}
p::selection {
    background-color: green;
}